@model ClothBazar.Entities.Category

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Category</h2>

<h1> Are you sure you want to delete this category?  </h1>
<br />
<form method="post">
    <button type="submit"> Yes Delete </button>
</form>
<br />
<a href="~/Views/Category/Index.cshtml" > Cancel </a>



